{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>打号列表</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        .my_acc {
            background: {{ colors.my_color }};
        }

        .mihoyo_genshin {
            background: {{ colors.genshin_color }};
        }

        .bili_genshin {
            background: {{ colors.genshin_bili_color }};
        }

        .honkaisr {
            background: {{ colors.honkaisr_color }};
        }

        .more_game {
            background: {{ colors.more_game_color }};
        }

        .not_do_acc {
            background: {{ colors.free_acc }};
        }

        .other {
            background: {{ colors.other }};
        }

        .is_oked {
            background: black;
            color: white;
        }
    </style>
</head>
<body style="background-color: pink">
<div class="container w-90">
    <div class="mt-2 rounded-4"
         style="background-color: rgb(255 255 255 / 72%);">
        <div class="p-2 table-responsive">
            <table class="table table-bordered m-0 border border-primary">
                <tbody>
                <tr class="text-center fw-bold fs-4">
                    <td class="col-4">粉丝数</td>
                    <td class="col-4">舰长数</td>
                    <td class="col-4">test</td>
                </tr>
                <tr class="text-center fs-4">
                    <td>0000</td>
                    <td>0000</td>
                    <td>test</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="mt-2 d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-primary me-3" onclick="window.location.href = '/dhlist/color'">修改表颜色
        </button>
        <button type="button" class="btn btn-primary me-md-2" onclick="window.location.href = '/dhlist/add'">新增账号
        </button>
        <button type="button" id="all" class="btn btn-primary" onclick="toggleOk('all')">一键重置打号进度</button>
    </div>
    <div class="mt-2 mb-5 rounded-4"
         style="background-color: rgb(255 255 255 / 72%);">
        <div class="p-2 table-responsive">
            <table class="table table-bordered border-white m-0">
                <thead>
                <tr class="text-center fw-bold fs-5" style="background: blue;color: white;">
                    <th class="col-3">舰长</th>
                    <th class="col-3">账号</th>
                    <th class="col-3">密码</th>
                    <th class="col-2">备注</th>
                    <th class="col-1">操作</th>
                </tr>
                </thead>
                <tbody id="tablelist">
                <tr class="text-center align-middle fs-5 vh-50 my_acc">
                    <td class="col-3">my_account</td>
                    <td class="col-3">account</td>
                    <td class="col-3">password</td>
                    <td class="col-2">info message</td>
                    <td class="col-1"></td>
                </tr>
                <tr class="text-center align-middle fs-5 vh-50">
                    <td class="col-3">guard_name(nickname)</td>
                    <td class="col-3">account</td>
                    <td class="col-3">password</td>
                    <td class="col-2">info message</td>
                    <td class="col-1"></td>
                </tr>
                <tr class="text-center align-middle fs-5 vh-50">
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>@fat</td>
                    <td>
                        <button type="button" class="btn btn-outline-success text-nowrap">完成</button>
                    </td>
                </tr>
                <tr class="text-center align-middle fs-5 vh-50">
                    <td class="col-3">guard_name(nickname)</td>
                    <td class="col-3">account</td>
                    <td class="col-3">password</td>
                    <td class="col-2">info message</td>
                    <td>
                        <button class="btn btn-outline-danger text-nowrap">取消</button>
                    </td>
                </tr>
                <tr class="text-center align-middle fs-5 vh-50">
                    <td class="col-3">guard_name(nickname)</td>
                    <td class="col-3">account</td>
                    <td class="col-3">password</td>
                    <td class="col-2">info message</td>
                    <td>
                        <button class="btn btn-outline-danger text-nowrap">取消</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/dh_list/utils.js' %}"></script>

<script>
    $(document).ready(function () {
        getall();
    });

    function getall() {
        ajaxCall('/dhlist/api/acc_all','GET', null, function (data) {
                var tableContent = '';
                for (var key in data.data) {
                    {#if (key === 'not_do_acc' || key === 'other') continue;#}
                    for (var i = 0; i < data.data[key].length; i++) {
                        var rowClass = 'text-center align-middle fs-5 vh-50 ' + key;
                        var buttonHtml = '';
                        if (data.data[key][i].good_friend || key === 'not_do_acc' || key === 'other') {
                            buttonHtml = '';
                        } else {
                            if (data.data[key][i].is_ok) {
                                buttonHtml = '<button class="btn btn-outline-danger text-nowrap" onclick="toggleOk(' + data.data[key][i].acc_id + ')">取消</button>';
                                rowClass = 'text-center align-middle fs-5 vh-50 is_oked ';
                            } else {
                                buttonHtml = '<button type="button" class="btn btn-outline-success text-nowrap" onclick="toggleOk(' + data.data[key][i].acc_id + ')">完成</button>';
                            }
                            ;
                        }
                        const guard_nick_name = data.data[key][i].guard_nick_name ? data.data[key][i].guard_nick_name : '';
                        const click = guard_nick_name === '' ? "window.location.href = '/dhlist/add?guardid=" + data.data[key][i].guard_id + "'" :
                            "window.location.href = '/dhlist/edit?id=" + data.data[key][i].acc_id + "'";
                        const bili_name = data.data[key][i].guard_bili_name != null ? '【' + data.data[key][i].guard_bili_name + '】' : '';
                        tableContent += '<tr class="' + rowClass + '">';
                        tableContent += '<td onclick="' + click + '">' + guard_nick_name + bili_name + '</td>';
                        tableContent += '<td' + (data.data[key][i].username ? (' onclick="copyInnerTextOfCell(event)">' + data.data[key][i].username) : '>') + '</td>';
                        tableContent += '<td' + (data.data[key][i].password ? (' onclick="copyInnerTextOfCell(event)">' + data.data[key][i].password) : '>') + '</td>';
                        tableContent += '<td>' + (data.data[key][i].info ? data.data[key][i].info : '') + '</td>';
                        tableContent += '<td>' + buttonHtml + '</td>';
                        tableContent += '</tr>';
                    }
                }
                $('#tablelist').html(tableContent);
            }, function (error) {
                console.log('Error:', error);
            }
        );
    }

    function toggleOk(accId) {
        ajaxCall('/dhlist/api/set_ok', 'GET', {id: accId}, function (response) {
                if (response.code === 200) {
                    getall();
                } else {
                    console.log('Error:', response.message);
                }
            },
            function (error) {
                console.log('Error:', error);
            })
    }
</script>
</body>
</html>