<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="/user/regiset" method="post">
昵称<label>
    <input type="text" name="nickname">

</label>
用户名<label>
    <input type="text" name="username">

</label>
密码<label>
    <input type="text" name="password">

</label>
b站uid<label>
    <input type="text" name="bili_uid">

</label>
    <label>
        b站直播间号
        <input type="text" name="bili_liveroom">
    </label>
<input type="submit" value="注册"></form>
</body>
</html>